<form action='artist-search', method='GET'>
    <input class="form-control form-control-lg" placeholder="Type in the artist name here" for="" type="search" name="artist">
    <button type="submit">Search for an Artist</button>
</form>